%h1.main-title Instaclone
%p It works woooooo
%ul#selector.class
  %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  %li another
  %div.div-inside-li
    %p this is a P inside a DIV
%div.outside
  %p is this outsed
